{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<ul class="uk-pagination uk-flex-center">
  <li class="{{ if not $pag.HasPrev }} uk-disabled{{ end }}">
    {{ if $pag.HasPrev }}
    <a href="{{ $pag.Prev.URL }}" aria-label="Previous"><span uk-pagination-previous></span></a>
    {{else}}
    <a aria-label="Previous"><span uk-pagination-previous></span></a>
    {{end}}
  </li>
  {{- $ellipsed := false -}}
  {{- $shouldEllipse := false -}}
  {{- range $pag.Pagers -}}
  {{- $right := sub .TotalPages .PageNumber -}}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
  {{- if $showNumber -}}
    {{- $ellipsed = false -}}
    {{- $shouldEllipse = false -}}
  {{- else -}}
    {{- $shouldEllipse = not $ellipsed -}}
    {{- $ellipsed = true -}}
  {{- end -}}
  {{- if $showNumber }}
  <li class="{{ if eq . $pag }} uk-active{{ end }}">
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
  </li>
  {{- else if $shouldEllipse }}
  <li class="uk-disabled">
    <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
  </li>
  {{- end -}}
  {{- end }}
  <li class="{{ if not $pag.HasNext }} uk-disabled{{ end }}">
    {{ if $pag.HasNext }}
    <a href="{{ $pag.Next.URL }}"aria-label="Next"><span uk-pagination-next></span></a>
    {{else}}
    <a aria-label="Next"><span uk-pagination-next></span></a>
    {{end}}
  </li>
</ul>
{{ end }}