.card-grid-item {
  position: relative;
  border-radius: 8px;
  margin: 3em 0 0 1em;

  .uk-card-footer {
    border-top: none;
  }
}

.card-grid-item-img {
  object-fit: cover;
  width: 100%;
  height: 8em;
  display: block;
  border-radius: 8px 8px 0 0;
}

.card-grid-item-date {
  position: absolute;
  font-weight: 600;
  top: -2em;
  left: 0;
}

@media (min-width: $breakpoint-small) {
  .card-grid-item {
    display: flex;
    margin: 1em 1em 0 8em;
  }

  .card-grid-item-img {
    width: 12.5em;
    height: unset;
    border-radius: 8px 0 0 8px;
  }

  .card-grid-item-date {
    top: 0;
    left: -8em;
  }
}

@media (min-width: $breakpoint-large) {
  .card-grid-item {
    margin-right: 8em;
  }
}
