$mobile-margin: 15px;

.nav-cmu-delphi-logo {
  background-image: url("./images/cmu_brand.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 50px;
  margin-right: 30px;
  margin-bottom: 5px;

  > span {
    display: none;
  }
}

.uk-breadcrumb svg,
.uk-navbar svg {
  max-height: 18px;
}

.nav-container {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  padding: 20px 0 0 0;

  > .uk-navbar-container {
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-end;
  }
}

.nav-entries .uk-active {
  border-bottom: $menu-active-border-width solid $menu-active-color !important;
}

.nav-entries {
  flex-shrink: 1;
  overflow: hidden;
}

.nav-spacer {
  flex: 1 1 0;
}

li.nav-entry {
  white-space: nowrap;

  > a {
    padding: 0 15px;
  }
}

.nav-burger {
  margin-left: 1em;
}

.nav-burger li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-toggle {
  width: 20px;
}

.nav-dropdown-child {
  padding-left: 2.2em;
}

.nav-dropdown-parent {
  text-transform: none;
}

.nav-mobile {
  left: unset !important;
  right: 0;
}

@media only screen and (min-width: $menu-mode-hybrid) {
  .nav-burger {
    display: none;
  }
}

@media only screen and (max-width: $menu-mode-mobile-only) {
  .nav-container {
    padding: 0;
  }
  .nav-cmu-delphi-logo {
    background-image: url("./images/cmu_brand_mobile.png");
    margin: $mobile-margin 0;
    height: 33px;
    width: 193px;
  }

  .nav-entries {
    display: none;
  }

  .nav-burger {
    align-self: stretch;
  }
  .nav-burger > li {
    align-items: stretch;
  }

  // wide mobile menu
  .nav-mobile {
    padding: 0;
    width: 100%;

    li {
      border-top: 1px solid #d2d2d2;
      font-weight: 400;
      padding: 20px 0 20px 40px;
    }
  }

  li.nav-dropdown-parent {
    margin-top: 0 !important;
    font-weight: 600;
  }

  li.nav-dropdown-child {
    padding-left: 40px + 30px;
  }
}

// Footer
.footer {
  background-color: #f2f2f2;
  color: #232735;
  padding-top: 50px;
  padding-bottom: 20px;

  > .uk-container {
    display: flex;
  }
}

@media only screen and (max-width: $menu-mode-mobile-only) {
  .footer > .uk-container {
    display: block;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer-footer {
  flex: 1 1 0;
  display: flex;
  margin-top: 22px;
}

.footer-cmu-delphi-logo {
  background-image: url("./images/cmu_brand.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 50px;
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;

  > span {
    display: none;
  }
}

.footer h5 {
  margin-top: 5px;
}


.breadcrumb-menu {
  margin-top: 3px;
  margin-bottom: 5px;
}