.delphi-text-logo {
  background-color: white;
  color: #f03f3f !important;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 18px;
  padding: 5px 10px;
}

.uk-breadcrumb svg,
.uk-navbar svg {
  max-height: 18px;
}

.nav-container {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  
  > .uk-navbar-container {
    margin-bottom: 0;
  }
}

@media (min-width: $breakpoint-small) {
  .nav-container > .uk-navbar-container {
    margin-top: 40px;
  }
}

.nav-entries .uk-active {
  border-bottom: 2px solid #f03f3f !important;
}

.nav-entries {
  flex-shrink: 1;
  overflow: hidden;
}

.nav-spacer {
  flex: 1 1 0;
}
.nav-entry {
  white-space: nowrap;
  
  padding-left: 15px;
  padding-right: 15px;
  
  // > .uk-navbar-dropdown {
  //   margin-top: 6px;
  // }
}

.nav-burger {
  margin-left: 1em;
}

.nav-burger li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-toggle {
  width: 20px;
}
.nav-dropdown-child {
  padding-left: 2.2em;
}

// Footer
.footer {
  background-color: #f2f2f2;
  color: #232735;
  padding: 50px 20% 20px 20%;
}

.footer .delphi-text-logo {
  border: 1px solid #d3d4d8;
  padding: 8px 12px;
}
