{{ define "main" }}
  {{ partial "landing/carousel.html" . }}
  <div class="landing-white-area">
    <div class="uk-container content-grid">
      <div class="landing-entry grid-2-10">
        <h2>Our Mission</h2>
        <p>
          {{ .Site.Params.mission }}
        </p>
      </div>
    </div>
  </div>

  <div class="landing-gray-area">
    <div class="uk-container content-grid">
      <div class="landing-entry grid-2-8">
        <div class="entry-image">
          {{ partial "landing/teampic.html" (dict "Site" .Site "team" "highlight") }}
        </div>
        <h2>Our Team</h2>
        <p>Meet the Delphi team</p>
        {{ partial "arrow-link.html" (dict "link" (relref . "team") "alt" "View all") }}
      </div>
      <div class="landing-entry grid-8-12">
        <div class="entry-image landing-aspect-2-1">
          {{ $img := resources.Get "images/landing-page/API-image.jpg" }}
          <picture>
            <source srcset="{{ ($img.Resize "288x webp").RelPermalink }}" type="image/webp" />
            <img src="{{ ($img).RelPermalink }}" width="288" height="296" alt="API Image" />
          </picture>
        </div>
        <h2>Our Tools</h2>
        <p>Access our data and tools</p>
        {{ partial "arrow-link.html" (dict "link" .Site.Params.toolUrl "alt" "Learn more") }}
      </div>
    </div>
  </div>

  {{ partial "landing/latest-news.html" . }}
{{ end }}
