{{ define "main" }}
<div>
    <div class="main-carousel">
        <div class="uk-position-relative uk-light" tabindex="-1" uk-slideshow="animation: push; min-height: 600; max-height: 600">            
            <ul class="uk-slideshow-items uk-cover-container uk-child-width-1-1 ">
                <li>
                    <img src="../images/landing-page/hero-images/landing-pg_hero-Real-time Indicators of COVID-19 Activity.png" uk-cover/>
                    <div class="content content-grid">
                        <div class="carousel-entry grid-2-10">
                            <h2>OUR TOOLS</h2>
                            <p>Real-time Indicators of COVID-19 Activity</p>
                            {{partial "font-awesome.html" "regular/arrow-alt-circle-right"}}
                            <a href="/covidcast">Explore COVIDcast</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../images/landing-page/hero-images/landing-pg_hero-img-2_New and Improved COVID Symptom Survey Tracks Testing and Mask-Wearing.png" uk-cover/>
                    <div class="content content-grid">
                        <div class="carousel-entry grid-2-10">
                            <h2>OUR BLOG POST</h2>
                            <p>
                                New and improved COVID Symptom Survey Tracks
                                Testing and Mask-Wearing
                            </p>
                            {{partial "font-awesome.html" "regular/arrow-alt-circle-right"}}
                            <a href="/blog/2020/10/12/new-and-improved-covid-symptom-survey-tracks-testing-and-mask-wearing/">Learn more</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../images/landing-page/hero-images/landing-pg_hero-img-2_Pancasting_ forecasting epidemics from provisional data.png" uk-cover/>
                    <div class="content content-grid">
                        <div class="carousel-entry grid-2-10">
                            <h2>OUR RESEARCH AND WHITE PAPERS</h2>
                            <p>Pancasting: forecasting epidemics from provisional data</p>
                            {{partial "font-awesome.html" "regular/arrow-alt-circle-right"}}
                            <a href="https://delphi.cmu.edu/~lcbrooks/brooks2020pancasting.pdf">View Paper</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="slider-controls" class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
    <div class="white-area">
        <div class="content">
            <div class="content-grid">
                <div class="landing-entry grid-2-10">
                    <h2>    
                        OUR MISSION
                    </h2>
                    <p>
                        Develop the theory and practice of 
                        epidemiological forecasting, with a long-term 
                        vision of seeing this technology become as 
                        universally accepted and useful as weather 
                        forecasting is today
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="gray-area">
        <div class="content">
            <div class="content-grid">
                <div class="landing-entry grid-2-8">
                    <div class="entry-image">
                        <img src="../images/landing-page/team-image.png"/>
                    </div>
                    <h2>OUR TEAM</h2>
                    <p>Meeting the scientists and researchers making a difference</p>
                    {{partial "font-awesome.html" "regular/arrow-alt-circle-right"}}
                    <a href="/about/team">View all</a>
                </div>
                <div class="landing-entry grid-8-12">
                    <div class="entry-image">
                        <img src="../images/landing-page/API-image.png"/>
                    </div>
                    <h2>OUR API</h2>
                    <p>Access out data and tools</p>
                    {{partial "font-awesome.html" "regular/arrow-alt-circle-right"}}
                    <a href="/covidcast">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}