*.toml
*.jpg
*.png
*.rda
*.rdx
*.RData
*.svg
/blogdown
/.htaccess
/.Rhistory
.gitignore
.prettierignore
/.gitattributes
/LICENSE
/package-lock.json
/content/blog/**/*.html
/static
/public
/Dockerfile
/resources
/assets
*.woff
*.ttf
*.woff2
*.R
*.xml
.dockerignore
*.Rmd
*.md
*.jpeg
*.csv
*.ico
*.bib
*.xcf
/themes/delphi/layouts/shortcodes/apireflink.html
/themes/delphi/layouts/shortcodes/reflink.html