*.toml
*.jpg
*.png
*.rda
*.rdx
*.RData
*.svg
/blogdown
/.htaccess
/.Rhistory
.gitignore
.prettierignore
/.gitattributes
/LICENSE
/package-lock.json
/content/blog/**/*.html
/static
/public
/Dockerfile
/resources
/assets
*.woff
*.ttf
*.woff2
*.R
*.xml
*.Rmd
*.md
*.jpeg
*.ico