{{ define "styles" }}
  <link rel="stylesheet" href="{{ "./covidcast/vendors.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "./covidcast/styles.css" | relURL }}" />
{{ end }}
{{ define "scripts" }}
  <script src="{{ "./covidcast/vendors.js" | relURL }}"></script>
  <script src="{{ "./covidcast/styles.js" | relURL }}"></script>
  <script src="{{ "./covidcast/bundle.js" | relURL }}"></script>
{{ end }}
{{ define "breadcrumb" }}<!--no breadcrumb -->{{ end }}
{{ define "body_class" }}covidcast_wrapper{{ end }}
{{ define "main" }}
  <div id="vizbox">
    <div class="ie-banner" style="display: none">
      <div>
        Internet Explorer 11 is no longer supported. We encourage you to use a more modern web browser, such as Firefox,
        Chrome, or Safari.
      </div>
    </div>
  </div>
{{ end }}
