{{ define "styles" }}
  <link rel="stylesheet" href="{{ (partial "covidcast/find-file.html" "styles.*\\.css$")| relURL }}" />
{{ end }}
{{ define "scripts" }}
  <script src="{{ (partial "covidcast/find-file.html" "styles.*\\.js$")| relURL }}"></script>
  <script src="{{ (partial "covidcast/find-file.html" "bundle.*\\.js$")| relURL }}"></script>
{{ end }}
{{ define "breadcrumb" }}<!-- no breadcrumb -->{{ end }}
{{ define "body_class" }}covidcast_wrapper {{ if .Params.footer }}covidcast_wrapper_footer{{ end }}{{ end }}
{{ define "main" }}
  <div id="vizbox">
    <div class="ie-banner" style="display: none">
      <div>
        Internet Explorer 11 is no longer supported. We encourage you to use a more modern web browser, such as Firefox,
        Chrome, or Safari.
      </div>
    </div>
  </div>
{{ end }}
