{{ define "styles" }}
  <link rel="stylesheet" href="{{ (partial "covidcast/find-file.html" "styles.*\\.css$")| relURL }}" />
{{ end }}
{{ define "scripts" }}
  <script src="{{ (partial "covidcast/find-file.html" "styles.*\\.js$")| relURL }}"></script>
  <script src="{{ (partial "covidcast/find-file.html" "bundle.*\\.js$")| relURL }}"></script>
{{ end }}
{{ define "breadcrumb" }}<!-- no breadcrumb -->{{ end }}
{{ define "body_class" }}covidcast_wrapper{{ end }}
{{ define "main" }}
  {{ partial "covidcast/modes.html" . }}
  <div class="uk-alert-warning uk-margin-small-top uk-margin-small-bottom" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>
      Due to an issue with our backend, no data newer than <strong>February 1st</strong> is being added to the system.
      We expect to resume daily updates or provide a new estimate by February 15th.
    </p>
  </div>
  <div id="vizbox">
    <div class="ie-banner" style="display: none">
      <div>
        Internet Explorer 11 is no longer supported. We encourage you to use a more modern web browser, such as Firefox,
        Chrome, or Safari.
      </div>
    </div>
  </div>
{{ end }}
