{{ define "main" }}
  <div class="uk-container">
    <!-- Page that displays after clicking on a post's tag -->
    <h1>Tagged "{{ .Data.Term }}"</h1>
    {{ range .Pages }}
      <!-- Display the posts with the tag -->
      <article>
        <h2>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </h2>
        <div>
          {{ .Summary }}
          {{ if .Truncated }}
            <p><a href="{{ .RelPermalink }}">Read more...</a></p>
          {{ end }}
        </div>
        <div>
          <time>{{ .Date.Format "January 2, 2006" }}</time>
        </div>
      </article>
    {{ end }}
  </div>
{{ end }}
