{{ define "main" }}
  {{ $peoplePage := $.GetPage "/people" }}
  <div class="uk-container">
    <h1 class="team-header">
      Thank you to our {{ len (where $peoplePage.Params.people ".external" "ne" true) }} members around the world, all
      the students, faculty, staff, and volunteers who have contributed to the COVIDcast project.
    </h1>

    <img
      src="{{ (.Resources.GetMatch "map-and-pins.png").RelPermalink }}"
      alt="World map of team members"
      width="1120"
      height="592"
      class="team-hero-image"
    />

    {{ .Content }}

    <hr />

    <strong>Abbreviations</strong>
    <ul class="uk-list">
      {{ range $peoplePage.Params.abbreviations }}
        <li>{{ .abbr }} is {{ .name }}</li>
      {{ end }}
    </ul>

    <hr />
    <div class="uk-margin-large-top uk-margin-large-bottom">
      <h2 class="uk-text-center">Thank you for your contributions</h2>
      <p class="uk-text-center">
        {{ $peoplePage.Params.others | .RenderString }}
      </p>
    </div>
  </div>
{{ end }}
