{{ define "main" }}
  {{ $peoplePage := $.GetPage "/people" }}
  <div class="uk-container">


    {{ .Content }}


    <hr />

    <strong>Abbreviations</strong>
    <ul class="uk-list">
      {{ range $peoplePage.Params.abbreviations }}
        <li>{{ .abbr }} is {{ .name }}</li>
      {{ end }}
    </ul>

    <hr />
    <div class="uk-margin-large-top uk-margin-large-bottom">
      <h2 class="uk-text-center">Thank you for your support</h2>
      <p class="uk-text-center">
        {{ $peoplePage.Params.others | .RenderString }}
      </p>
    </div>
  </div>
{{ end }}
