/*
-CMU Web Colors: (https://www.cmu.edu/marcom/brand-guidelines/print-web-products/web/index.html)
  red:        [#990000]
  light grey: [#d4d4d4]
  dark grey:  [#464646]	
  light tan:  [#f3f0e9]
  violet:     [#674c56]
  blue:       [#7493a2]
  mustard:    [#c1a562]
  brown:      [#936241]
  orange:     [#d17702]
  green:      [#999933]
  tan:        [#ac9d74]

-Fonts: (https://www.google.com/fonts, http://cssfontstack.com/, https://www.cmu.edu/marcom/brand-guidelines/print-web-products/web/index.html)
  fubar text:  ['Comic Sans MS', TimesNewRoman, 'Times New Roman', Times, serif]
  title text:  ['Alegreya SC', 'Rockwell Extra Bold', 'Rockwell Bold', monospace]
  normal text: [Verdana, Arial, Helvetica, sans-serif]
*/

/*** Body ***/
/* If you see ugly red text, then something has gone terribly wrong! */
body {
   font-family: 'Comic Sans MS', TimesNewRoman, 'Times New Roman', Times, serif;
   color: #ff0000;
}
/* More sensible defaults */
body {
   background-color: #f3f0e9;
   background: linear-gradient(#ffffff,#f3f0e9);
   font-size: 100%;
   margin: 0px;
   padding: 0px;
   -webkit-font-smoothing: antialiased;
}
/* Text highlight color */
::selection {
   background: #999933;
}
/* Anchor/link colors */
a:link {
   color: #7493a2;
   transition: color 0.2s ease 0.0s;
}
a:visited {
   color: #674c56;
}
a:hover {
   color: #d17702;
   transition: color 0.2s ease 0.0s;
}
a:active {
   color: #674c56;
}
/* The logo is a link, but we don't want it to be decorated as one. */
a.title:link {
   color: inherit;
   text-decoration: none;
}
a.title:visited {
   color: inherit;
}
a.title:hover {
   color: inherit;
}
a.title:active {
   color: inherit;
}

/*** Divs ***/
div {
   margin: 0px;
   padding: 0px;
}
div.box_centered {
   margin-left: auto;
   margin-right: auto;
}
div.box_main {
   width: 90%;
}
div.box_title {
   width: 80%;
   margin-bottom: 20px;
}
div.box_title_content {
   padding: 0px;
   background-color: #ffffff;
   background-image: url("images/delphi_static.png");
   background-repeat: no-repeat;
   background-position: center center;
   min-height: 150px;
   box-shadow: 0px 4px 10px -2px #464646;
   padding: 0px;
   /*
   background-color: #ffffff;
   background-image: url("images/fv.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   box-shadow: 0px 4px 10px -2px #464646;
   */
}
div.box_title_content:hover {
   box-shadow: 0px 4px 10px -2px #990000;
   transition: box-shadow 0.5s ease 0.0s;
}
div.box_profile {
   display: inline-block;
   width: 200px;
   padding: 0px;
   margin: 10px;
}
div.box_profiles {
   text-align: center;
}

/*** Paragraphs ***/
p {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #000000;
   margin: 0px;
   padding: 0px;
}
p.text_title {
   font-family: 'Alegreya SC', 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
   font-size: 4.0em;
   font-weight: bold;
   text-align: center;
   padding: 0px;
   letter-spacing: +2px;
   text-shadow: 0px 4px 12px #464646;
   /* background-color: rgba(255,255,255,0.7); */
}
p.text_tagline {
   font-family: 'Alegreya SC', 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
   font-size: 1.2em;
   font-style: italic;
   text-align: center;
   padding: 0px;
   letter-spacing: +0px;
   text-shadow: 0px 2px 10px #464646;
   /* background-color: rgba(255,255,255,0.7); */
   padding-top: 110px;
}
p.text_header {
   font-size: 1.5em;
   font-weight: bold;
   border-bottom: 1px dotted #464646;
   margin-bottom: 5px;
}
p.text_content {
   font-size: 1.0em;
   margin-bottom: 15px;
}
p.text_bib {
   font-size: 0.7em;
}
p.text_footer {
   color: #a0a0a0;
   text-align: center;
   font-size: 0.75em;
   padding-top: 8px;
   padding-bottom: 8px;
   transition: color 1s ease 0.0s;
}
p.text_footer:hover {
   color: #000000;
   transition: color 1s ease 0.0s;
}

/*** Spans ***/
span.effect_logo1 {
   display: inline-block;
   position: relative;
   color: #464646;
   top: 0px;
}
span.effect_logo2 {
   display: inline-block;
   position: relative;
   color: #990000;
   top: 10px;
}
span.effect_delphi {
   font-family: 'Alegreya SC', 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
   font-weight: bold;
}

/*** Tables ***/
/* todo */

/*** Lists ***/
li {
   color: #000000;
}

/*** Images ***/
img.img_profile {
   width: 150px;
   height: 150px;
}

/*** Mobile Tweaks (or very small screens) ***/
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
   body {
      font-size: 80%;
   }
   p.text_title {
      font-size: 2.5em;
   }
   span.effect_logo2 {
      top: 5px;
   }
}
@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
   /* todo */
}
