{{ $currentPage := . }}
<div class="main-carousel">
  <div
    class="uk-position-relative uk-light uikit-main-carousel"
    tabindex="-1"
    uk-slideshow="animation: push; ratio: false"
  >
    <ul class="uk-slideshow-items uk-cover-container uk-child-width-1-1 slideshow-container">
      {{ range .Params.carousel }}
        <li>
          {{ partial "webp-image.html" (dict "src" (path.Join "/images/landing-page/hero-images" .image) "alt" .title "width" 1140 "height" 724) }}
          <div class="uk-container content-grid">
            <div class="carousel-entry grid-2-10">
              <h2>{{ .pre }}</h2>
              <p>{{ .title }}</p>
              {{ if isset . "ref" }}
                {{ partial "arrow-link.html" (dict "link" (relref $currentPage .ref) "alt" .alt) }}
                {{ else }}
                {{ partial "arrow-link.html" (dict "link" .link "alt" .alt) }}
              {{ end }}
            </div>
          </div>
        </li>
      {{ end }}
    </ul>
    <ul class="uk-slideshow-nav uk-dotnav uk-position-bottom-center uk-margin"></ul>
    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover uk-visible@m"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
      title="Show previous slide"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover uk-visible@m"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
      title="Show next slide"
    ></a>
  </div>
</div>
