<div class="uk-card uk-card-default latest-card uk-card-small uk-flex uk-flex-column">
  <div class="uk-card-media-top">
    <picture>
      <source srcset="{{ (.img.Resize "300x200 webp").RelPermalink }}" type="image/webp" />
      <img src="{{ (.img.Resize "300x200 jpg").RelPermalink }}" width="300" height="200" alt="{{ .title }}" />
    </picture>
  </div>
  <div class="uk-card-body">
    <div class="latest-card-category">{{ .source }}</div>
    <h3 class="uk-card-title">
      <a href="{{ .link | relURL }}" class="uk-link-heading" title="Learn more">{{ .title }}</a>
    </h3>
    <p>
      {{ .summary }}
    </p>
  </div>
  <div class="uk-card-footer">
    {{ partial "arrow-link.html" (dict "link" .link "alt" "Learn more") }}
  </div>
</div>
