<div class="latest-news uk-margin-medium-top uk-margin-medium-bottom uk-container">
  <h2 class="uk-text-center">Latest News</h2>
  {{- $currentPage := . -}}
  {{ define "partials/latest-blog" }}
    {{ return (dict "source" "blog" "image" .Params.heroImageThumb "title" .Title "link" .RelPermalink "date" .PublishDate ) }}
  {{ end }}
  {{ $items := apply (.Site.GetPage "/blog").Pages "partial" "latest-blog" "." }}

  <!-- {range first 0 ((.Site.GetPage "/news").Resources.ByType "page") }}
  {{ $items = $items | append (dict "source" "news" "title" .Title "date" .PublishDate "link" (relref $currentPage "flu#updates" ) ) }}
  {{end} -->

  {{ $top := 6 }}

  <div class="uk-position-relative" tabindex="-1" uk-slider>
    <div class="uk-slider-container">
      <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-grid-match">
        {{ range first $top (sort $items "date" "desc") }}
          <li>
            {{ partial "landing/latest-card.html" . }}
          </li>
        {{ end }}
      </ul>
    </div>
    <a
      class="uk-position-center-left-out uk-position-small"
      href="#"
      uk-slidenav-previous
      uk-slider-item="previous"
      title="Show previous news item"
    ></a>
    <a
      class="uk-position-center-right-out uk-position-small"
      href="#"
      uk-slidenav-next
      uk-slider-item="next"
      title="Show next news item"
    ></a>
  </div>
</div>
