<div class="uk-card uk-card-default latest-card uk-card-small uk-flex uk-flex-column">
  <div class="uk-card-media-top">
    {{ partial "webp-image.html" (dict "src" .image "alt" .title "width" 300 "height" 200) }}
  </div>
  <div class="uk-card-body">
    <div class="latest-card-category">{{ .source }}</div>
    <h3 class="uk-card-title">
      <a href="{{ .link | relURL }}" class="uk-link-heading" title="Learn more">{{ .title }}</a>
    </h3>
  </div>
  <div class="uk-card-footer">
    <a href="{{ .link | relURL }}" title="Learn more"
      >Learn more {{ partial "font-awesome.html" "solid/long-arrow-alt-right" }}</a
    >
  </div>
</div>
