<div class="landing-team-grid">
  {{ $team := .Site.GetPage "/about/team" }}
  {{ $images := $team.Resources.ByType "image" }}
  {{ $team := where $team.Params.team ".team" "intersect" (slice .team) }}
  {{ range first 8 (sort $team "lastName" "asc" "firstName" "asc") }}
    {{ $img := $images.GetMatch (path.Join "images" .image) }}
    <img
      src="{{ ($img.Resize "150x150 jpg").RelPermalink }}"
      alt="{{ printf "%s %s" .firstName .lastName }}"
      width="150"
      height="150"
    />
  {{ end }}
</div>
