<div class="uk-visible@s footer">
    <table class="uk-table footer-table">
        <thead>
            <tr>
                <th class="header">
                    {{partial "delphi-text-logo.html"}}
                </th>
                <th class="header">COVIDcast</th>
                <th class="header">Resources</th>
                <th class="header">About</th>
                <th class="header">Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{partial "footer/methods.html"}}</td>
                <td>{{partial "footer/research-pub.html"}}</td>
                <td>{{partial "footer/cmu.html"}}</td>
                <td>{{partial "footer/twitter.html"}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{partial "footer/surveys.html"}}</td>
                <td>{{partial "footer/api.html"}}</td>
                <td>{{partial "footer/terms.html"}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{{partial "footer/github.html"}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{{partial "footer/blog.html"}}</td>
            </tr>
        </tbody>
    </table>
</div>