<div class="uk-hidden@s footer footer-small">
    {{partial "delphi-text-logo.html"}}
    
    <div class="header">COVIDcast</div>
    <div>{{partial "footer/methods.html"}}</div>
    <div>{{partial "footer/surveys.html"}}</div>

    <div class="header">Resources</div>
    <div>{{partial "footer/research-pub.html" }}</div>
    <div>{{partial "footer/api.html"}}</div>
    <div>{{partial "footer/github.html"}}</div>
    <div>{{partial "footer/blog.html"}}</div>

    <div class="header">About</div>
    <div>{{partial "footer/cmu.html"}}</div>
    <div>{{partial "footer/terms.html"}}</div>

    <div class="header">Contact</div>
    <div>{{partial "footer/twitter.html"}}</div>
</div>
