.team_profiles {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > li {
        margin: 1em;
        padding: 0;
    }
}

.team_profile {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.indicators {
    display: flex;
    flex-wrap: wrap;
    background: lightgray;
    padding: 1em;

    article {    
        width: 47%;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em;
        background: white;
        border: 1px solid grey;
    }
}