
.about-mission {
    padding: 6rem 0;
}

.about-mission-img {
    z-index: -1;
    filter: grayscale(50%);  
    filter:contrast(50%);  
}
.about-mission-mission {
    color: white;
    padding: 1em 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 414px) { 
    .about-mission-mission {
    padding-left: 1.7em;
    padding-right: 1.7em;
    }
   }

.about-mission-text {
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    margin: 0;
}

@media screen and (max-width: 414px) { 
    .about-mission-text {
     font-size: 18px;
     line-height: 32px;
     padding-left: 1.7em;
     padding-right: 1.7em;
    }
   }

.about-description {
    padding: 24px;
    margin-bottom: 3rem;
    
    h3 {
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

@media (min-width: $breakpoint-medium) {
    .about-description {
        background: white;
        border: 1px solid #D3D4D8;
        border-radius: 5px;
        margin-top: -6rem;
    }
}


.about-collaborators {
    background: #FAFAFC;
    padding: 0;
    padding: 2em 0;
}

.about-collaborators-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    > div {
        margin: 1em 0;
        text-align: center;
    }
}
