.about-mission {
    background-image: url("../images/red-bubble-map_mission-pg-short.jpg");
    background-size: auto;
    height: 200px;
}

.about-mission-img {
    z-index: -1;
    filter: grayscale(65%);  
}

.about-mission-mission {
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.mission-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

@media screen and (max-width: $breakpoint-medium) { 
    .mission-text {
        font-size: 18px;
        line-height: 28px;
    }
    .about-mission {
        height: 50px;
    }
    .about-description {
        margin-top: 0px;
    }
}
@media screen and (min-width: $breakpoint-medium) {
    .about-description {
        background: white;
        border: 1px solid #D3D4D8;
        border-radius: 5px;
    }
    .about-description {
        margin-top: -6rem;
    }
}

.about-description {
    padding: 2em;
    margin-bottom: 3rem;

    h3 {
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}


.about-collaborators {
    background: #FAFAFC;
    padding: 0;
    padding: 2em 0;
}

.about-collaborators-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    > 
    div {
        margin: 1em 0;
        text-align: center;
    }
}
