#vizbox,
#epivis {
  margin-top: 5px !important;
}

#epivis {
  flex-grow: 1;
}

.covidcast_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > footer {
    display: none;
  }
}
