#vizbox {
  margin-top: 5px !important;
}

.covidcast_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.covidcast_wrapper:not(.covidcast_wrapper_footer) > footer {
  display: none;
}
