//The UIKit slideshow component doesn't want to stay inside its parent container
//We have to do multiple things to keep it in check:
//
// * Set `ratio: false` on the uk-slideshow element
// * Explicitly set heights for these three elements
//
//If this behavior ever becomes more sane, some of these work-arounds can be removed.
$carousel-height: 500px;

#main-carousel {
  max-height: $carousel-height;
}

#uikit-main-carousel {
  height: $carousel-height;
}

#slideshow-container {
  max-height: $carousel-height;
  height: $carousel-height;
  img {
    z-index: -1;
  }
}

.carousel-entry {
  z-index: 10;
  margin-top: 6rem;
  h2 {
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-weight: 600;
    font-size: 44px;
  }
  a {
    color: white;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .carousel-entry {
    p {
      font-size: 32px;
    }
  }
}

.white-area {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gray-area {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #eee;
}
.landing-entry {
    line-height: 48px;
    .inline-svg-icon{
        font-size:x-large;
    }
    h2 {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    p {
        font-weight: 500;
        font-size: 28px;
        line-height: 48px;
        color: rgb(35, 39, 53);
    }

    @media screen and (max-width: $breakpoint-small) { 
        p {
         font-size: 18px;
         line-height: 32px;
        }
       }
    a {
        color: $global-color;
        font-weight: bold;
    }
}

.entry-image {
  width: 100%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}


.latest-news {
    padding: 0 50px;
}