{{ $news := .Site.GetPage "/about/news/headless" }}
<div class="card-grid">
  {{ range (sort ($news.Resources.ByType "page") ".PublishDate" "desc") }}
    <div class="card-grid-item uk-card uk-card-default uk-card-small">
      <div class="card-grid-item-date">{{ .PublishDate.Format "Jan 2006" }}</div>
      <div class="uk-flex uk-flex-column">
        <div class="uk-card-body uk-flex-1">
          <h3 class="uk-card-title">{{ .Title }}</h3>
          <div>{{ .Content }}</div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
