{{ $images := .Page.Resources.ByType "image" }}
<div class="card-grid">
  {{ range .Page.Params.papers }}
    {{ $img := $images.GetMatch (path.Join "images" .image) }}
    <div class="card-grid-item uk-card uk-card-default uk-card-small">
      <div class="card-grid-item-date">{{ .year }}</div>
      <picture>
        <source srcset="{{ ($img.Resize "300x webp Gaussian").RelPermalink }}" type="image/webp" />
        <img class="card-grid-item-img" src="{{ ($img).RelPermalink }}" width="300" height="300" alt="{{ .title }}" />
      </picture>
      <div class="uk-flex uk-flex-column">
        <div class="uk-card-body uk-flex-1">
          <h3 class="uk-card-title"><a href="{{ .link }}" class="uk-link-heading">{{ .title }}</a></h3>
          <div class="uk-text-uppercase">
            {{ .authors }}
          </div>
          <div>{{ .journal }}, {{ .year }}</div>
        </div>
        <div class="uk-card-footer">
          {{ partial "arrow-link.html" (dict "alt" "View Paper" "link" .link) }}
        </div>
      </div>
    </div>
  {{ end }}
</div>
