<footer>
	{{ partial "legal.html" . }}
	{{ partial "social.html" . }}

	{{ $script := resources.Get "js/main.js" | js.Build | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
	
	{{ if eq .Page.Type "blog" }}
    {{ $script_blog := resources.Get "js/blog/index.js" | js.Build | minify | fingerprint -}}
	<script src="{{ $script_blog.Permalink }}" {{ printf "integrity=%q" $script_blog.Data.Integrity | safeHTMLAttr }} ></script>	
    {{ end }}
</footer>
