<footer class="footer">
  <div class="uk-container uk-margin-remove-vertical">
    <a class="footer-cmu-delphi-logo" href="{{ relref . "/" }}" title="{{ .Site.Title }}"
      ><span>{{ .Site.Title }}</span></a
    >
    <div class="footer-footer uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-column-small" uk-grid>
      <div>
        <h5 class="uk-text-bold">COVIDcast</h5>
        <ul class="uk-list">
          <li><a class="uk-link-text uk-text-small" href="{{ relref . "/covidcast" }}">Map</a></li>
          <li><a class="uk-link-text uk-text-small" href="{{ relref . "/covidcast/surveys" }}">Surveys</a></li>
          <li>
            <a class="uk-link-text uk-text-small" href="{{ relref . "/covidcast/survey-results" }}">Survey Results</a>
          </li>
        </ul>
      </div>
      <div>
        <h5 class="uk-text-bold">Resources</h5>
        <ul class="uk-list">
          <li>
            <a class="uk-link-text uk-text-small" href="{{ relref . "/about/publications" }}"
              >Research & Publications</a
            >
          </li>
          <li><a class="uk-link-text uk-text-small" href="{{ .Site.Params.apiUrl }}/">API</a></li>
          <li><a class="uk-link-text uk-text-small" href="https://github.com/cmu-delphi/">GitHub</a></li>
          <li><a class="uk-link-text uk-text-small" href="{{ relref . "/blog" }}">Blog</a></li>
        </ul>
      </div>
      <div>
        <h5 class="uk-text-bold">About</h5>
        <ul class="uk-list">
          <li><a class="uk-link-text uk-text-small" href="https://www.cmu.edu/">CMU</a></li>
          <li><a class="uk-link-text uk-text-small" href="{{ relref . "/covidcast/terms-of-use" }}">Terms</a></li>
        </ul>
      </div>
      <div>
        <h5 class="uk-text-bold">Contact</h5>
        <ul class="uk-list">
          <li>
            <a class="uk-link-text uk-text-small" href="https://twitter.com/{{ .Site.Params.twitter }}/">Twitter</a>
          </li>
          <li>
            <a class="uk-link-text uk-text-small feedback-button" href="{{ .Site.Params.feedbackForm }}"
              >Submit Feedback</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ if .Params.feedback }}
  <div
    class="feedback-popup-container"
    style="display: none"
    data-href="{{ .Site.Params.feedbackForm }}"
    data-delay="{{ .Site.Params.feedbackDelay }}"
    data-duration="{{ .Site.Params.feedbackDuration }}"
  >
    <span uk-icon="icon: question"></span>
    <span class="feedback-text">We'd love to hear from you</span>
    <button class="uk-button uk-button-primary feedback-button">Feedback survey</button>
  </div>
{{ end }}
