{{- $currentPage := . -}}
<nav class="uk-visible@s uk-navbar-container" data-uk-navbar>
  <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a class="delphi-text-logo" href="{{ relref . "/" }}">DELPHI</a>
        </li>
        {{ range .Site.Menus.main.ByWeight }}
        <li class="{{ if (eq $currentPage.Section .Identifier) }}nav-active{{ end }}">
          <a href="{{ .URL | relLangURL }}">
            {{ if .Pre }}
              {{ partial "font-awesome.html" .Pre }}
            {{end}}
            {{ .Name }}
            {{ if .Post }}
              {{ partial "font-awesome.html" .Post }}
            {{end}}
          </a>
          {{if .HasChildren}}
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {{ range .Children }}
                  <li><a href={{ .URL | relLangURL }}>{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </div>
          {{end}}
        </li>
        {{ end }}
      </ul>
  </div>
</nav>
