{{- $currentPage := . -}}
<nav class="nav-container">
  <div class="uk-container uk-navbar-container" data-uk-navbar="offset: 0px">
    <ul class="uk-navbar-nav">
      <li>
        <a class="nav-cmu-delphi-logo" href="{{ relref . "/" }}" title="Go to the main page"
          ><span>Delphi Group</span></a
        >
      </li>
    </ul>
    <ul class="uk-navbar-nav nav-entries">
      {{ range .Site.Menus.main.ByWeight }}
        <li
          class="nav-entry {{ if (eq $currentPage.Section .Identifier) -}}uk-active{{ end -}} {{ if .HasChildren -}}
            uk-parent
          {{- end -}}"
        >
        {{ if .HasChildren }}
            <a href="{{ .URL | relLangURL }}">
              {{ partial "menu/item.html" . }}
              {{ partial "font-awesome.html" "solid/angle-down" }}
            </a>
            <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    {{ range .Children }}
                        <li>
                            <a href="{{ .URL | relLangURL }}">
                                {{ partial "menu/item.html" . }}
                                {{ if .HasChildren }}
                                    {{ partial "font-awesome.html" "solid/angle-right" }}
                                {{ end }}
                            </a>
                            {{ if .HasChildren }}
                                <div class="uk-navbar-dropdown" uk-dropdown="pos: right-center; shift: false; flip: false;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {{ range .Children }}
                                            <li>
                                                <a href="{{ .URL | relLangURL }}">
                                                    {{ partial "menu/item.html" . }}
                                                </a>
                                            </li>
                                        {{ end}}
                                    </ul>
                                </div>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
          {{ else }}
            <a href="{{ .URL | relLangURL }}">
              {{ partial "menu/item.html" . }}
            </a>

          {{ end }}
        </li>
      {{ end }}
    </ul>
    <div class="nav-spacer"></div>
  </div>
</nav>
