<!DOCTYPE html>
<!-- Default base template. Other templates define the "main" portion in this template -->
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/styles.html" . }}
    {{ $blog_style := resources.Get "css/blog_extra.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $blog_style.RelPermalink }}" />
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ partial "menu/breadcrumb.html" . }}
    {{ block "main" . }} {{ end }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
    {{ $script_blog := resources.Get "js/blog/index.js" | js.Build | minify | fingerprint -}}
    <script src="{{ $script_blog.RelPermalink }}"></script>
  </body>
</html>
