{{ define "breadcrumb" }}
  {{ partial "blog/breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  {{ $images := ($.GetPage "/blog/images").Resources.ByType "image" }}
  <div class="uk-container">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Description }}</h2>

    <div class="card-grid">
      {{ range .Paginator.Pages }}
        {{ $img := $images.GetMatch (path.Join .Params.heroImageThumb) }}
        <div class="card-grid-item uk-card uk-card-default uk-card-small">
          <div class="card-grid-item-date">{{ .Date.Format "Jan _2" }}</div>
          <picture>
            <source srcset="{{ ($img.Resize "300x webp Gaussian").RelPermalink }}" type="image/webp" />
            <img class="card-grid-item-img" src="{{ $img.RelPermalink }}" width="300" height="300" alt="{{ .Title }}" />
          </picture>
          <div class="uk-flex uk-flex-column">
            <div class="uk-card-body uk-flex-1">
              <h3 class="uk-card-title"><a href="{{ .RelPermalink }}" class="uk-link-heading">{{ .Title }}</a></h3>
              <p>
                {{ .Summary | safeHTML | truncate 150 }}
              </p>
              <p>
                {{- range .Params.tags -}}
                  {{ partial "blog/tag.html" . }}
                {{- end -}}
              </p>
              <p>By {{ .Params.author }}</p>
            </div>
            <div class="uk-card-footer">
              {{ partial "arrow-link.html" (dict "alt" "Read More" "link" .RelPermalink) }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
