{{ define "main" }}
<h1>{{ .Title }}</h1>
<h2>{{ .Description }} </h2>
<ul class="uk-list uk-list-divider uk-list-large">
{{ range .Paginator.Pages }}
  <li>
    <div uk-grid class="uk-grid-small uk-position-relative">
      <div class="uk-width-1-1@s uk-width-expand@m blog-list-content">
        <div>
          <time class="uk-text-bold-600">{{ .Date.Format "Jan _2" }}</time>
          {{- range .Params.tags -}}
            {{ partial "blog/tag.html" . }}
          {{- end -}}
        </div>
        <h2 class="uk-margin-small-top uk-text-bold-600"><a href="{{ .RelPermalink  }}" class="uk-link-heading">{{ .Title}}</a></h2>
        <p>
          {{ .Summary }}
          {{- if .Truncated -}}
            <a href="{{ .RelPermalink  }}" class="uk-link-text uk-text-bold-600">&hellip; read more</a>
          {{ end}}
        </p>
        <p>
            By {{ .Params.author }}
        </p>
      </div>
      <div class="uk-width-1-1@s uk-width-auto@m blog-list-hero-image">
        {{if isset .Params "heroimagethumb"}}
        <a href="{{ .RelPermalink  }}"><img data-src="{{ .Params.heroImageThumb | relURL }}" width="300" height="200" alt="{{ .Title}} - Hero Image" uk-img></a>
        {{end}}
      </div>
  </div>
  </li>
{{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}