{{ define "styles" }}
  {{ $blog_style := resources.Get "css/blog_extra.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $blog_style.RelPermalink }}" />
{{ end }}
{{ define "scripts" }}
  {{ $script_blog := resources.Get "js/blog/index.js" | js.Build | minify | fingerprint -}}  <script src="{{ $script_blog.RelPermalink }}"></script>
{{ end }}
{{ define "main" }}
  {{ $currentPage := . }}
  {{ $images := ($.GetPage "/blog/images").Resources.ByType "image" }}
  <div class="uk-container">
    <h1>{{ .Title }}</h1>
    {{ partial "blog/tags.html" . }}
    {{ if isset .Params "heroimage" }}
      <div class="uk-margin-top uk-margin-bottom">
        {{ $img := $images.GetMatch (path.Join .Params.heroImage) }}
        <picture>
          <source srcset="{{ ($img.Resize "1120x Gaussian").RelPermalink }}" type="image/webp" />
          <img
            src="{{ ($img.Resize "1120x jpg Gaussian").RelPermalink }}"
            width="1120"
            height="440"
            alt="{{ .Title }}"
          />
        </picture>
      </div>
    {{ end }}
    <div class="content-grid">
      <div class="grid-1-4">
        <div class="uk-flex-start uk-flex">
          <div class="uk-margin-small-right">
            <span class="uk-icon-button">
              {{ if gt (len .Params.authors) 1 }}
                {{ partial "font-awesome.html" "solid/users" }}
              {{ else }}
                {{ partial "font-awesome.html" "solid/user" }}
              {{ end }}
            </span>
          </div>
          <div>
            <p class="uk-text-bold-600">{{ .Params.author }}</p>
            <p><time>{{ .Date.Format "Jan 2, 2006" }}</time></p>
            {{ partial "share.html" . }}
          </div>
        </div>
        <div class="toc-container uk-visible@m uk-hidden">
          <div uk-sticky="offset: 32; bottom: .toc-end" class="uk-sticky uk-sticky-fixed uk-sticky-below toc blog-toc">
            <h5>Outline</h5>
            <ol uk-scrollspy-nav="closest: li; scroll: true; offset: 100" class="uk-nav uk-nav-default"></ol>
          </div>
        </div>
        <hr class="uk-hidden@s" />
      </div>
      <div class="grid-4-12 blog-blog">
        {{ .Content }}
        {{ if isset .Params "acknowledgements" }}
          <p class="blog-acknowledgements">
            <strong>Acknowledgements: </strong>
            {{ .Params.acknowledgements | .RenderString }}
          </p>
        {{ end }}
        {{ if isset .Params "related" }}
          <strong>Related Posts:</strong>
          <ul>
            {{ range $related := .Params.related }}
              {{ $relPage := $.GetPage $related }}
              <li><a href="{{ $relPage.Permalink }}">{{ $relPage.Title }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
    <hr class="toc-end" />
    {{ range .Params.authors }}
      <div>
        {{ with (partial "get-person.html" (dict "Site" $currentPage.Site "key" .)) }}
          {{ if isset . "link" }}
            <a href="{{ .link }}" class="uk-text-bold-600 uk-link-text">{{ .name | safeHTML }}</a>
          {{ else }}
            <span>{{ .name | safeHTML }}</span>
          {{ end }}
          {{ .description }}
        {{ end }}
      </div>
    {{ end }}
    {{ partial "blog/license.html" $currentPage }}
    <hr />
    {{ partial "blog/latestblogs.html" $currentPage }}
  </div>
{{ end }}
