
<div>
    <ul class="social third">
        {{ if isset .Site.Params "facebook" }}
        <li>
            <a class="facebook" href="{{ .Site.Params.Facebook }}" target="_blank" rel="noopener noreferrer" title="Facebook">CMU on Facebook</a>
        </li>
        {{ end }}
        {{ if isset .Site.Params "twitter" }}
        <li>
            <a class="twitter" href="{{ .Site.Params.Twitter }}" target="_blank" rel="noopener noreferrer" title="Twitter">CMU on Twitter</a>
        </li>
        {{ end }}
        {{ if isset .Site.Params "linkedin" }}
        <li>
            <a class="linkedin" href="{{ .Site.Params.Linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn">CMU on LinkedIn</a>
        </li>
        {{ end }}
        {{ if isset .Site.Params "youtube" }}
        <li>
            <a class="youtube" href="{{ .Site.Params.Youtube }}" target="_blank" rel="noopener noreferrer" title="YouTube">CMU Youtube Channel</a>
        </li>
        {{ end }}
        {{ if isset .Site.Params "instagram" }}
        <li>
            <a class="instagram" href="{{ .Site.Params.Instagram }}" target="_blank" rel="noopener noreferrer" title="Instagram">CMU on Instagram</a>
        </li>
        {{ end }}
    </ul>
</div>
