<ul>
  {{ range where $.Site.Data.team ".active" (.Get "active") }}
  <li>
    <div>
        <img
        src="{{ (path.Join "/images/team/" .image )| relURL }}" alt="{{ .name }}"></img>
        <span>{{ .name }}</span>
        {{ if isset . "homepage" }}
        <a href="{{ .homepage }}" target="_blank" rel="noopener">Homepage</a>
        {{ end }}
        {{ if isset . "email_image" }}
        <img src="{{ (path.Join "/images/team/" .email_image ) | relURL }}"></img>
        {{ end }}
    </div>
  </li>
  {{ end }}
</ul>
