@import './node_modules/highlight.js/scss/github';
@import './node_modules/katex/dist/katex.min';


.blog-tag {
    margin: 0 0.25em;
}

.uk-text-bold-600 {
    font-weight: 600;
}

[aria-hidden="true"] {
    display: none;
}

.blog-hero-image {
    width: 100%;
    height: 20em;
    object-fit: fill;
}