// 1. Your custom variables and variable overwrites.
// $global-link-color: #DA7D02;
@import "customize";

// 2. Import default variables and available mixins.
@import "./node_modules/uikit/src/scss/variables-theme.scss";
@import "./node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "./node_modules/uikit/src/scss/uikit-theme.scss";

// Layouts
@import "./layout/content";
@import "./layout/layouts";
@import "./layout/header_footer";

// Components
@import "./components/arrow_link";
@import "./components/font_awesome";
@import "./components/card_grid";
@import "./components/latest_card";
@import "./components/toc";

// Page Designs
@import "./pages/about";
@import "./pages/covidcast";
@import "./pages/landing";
@import "./pages/team";
@import "./pages/blog";
@import "./pages/coe";
