// 1. Your custom variables and variable overwrites.
// $global-link-color: #DA7D02;
@import 'customize';
$grid-gap: (32/1440)*100%;

// 2. Import default variables and available mixins.
@import './node_modules/uikit/src/scss/variables-theme.scss';
@import './node_modules/uikit/src/scss/mixins-theme.scss';

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import './node_modules/uikit/src/scss/uikit-theme.scss';


@import 'custom';

// Layouts

@import 'layouts';

//The UIKit slideshow component doesn't want to stay inside its parent container
//We have to do multiple things to keep it in check:
//
// * Set `ratio: false` on the uk-slideshow element
// * Explicitly set heights for these three elements
//
//If this behavior ever becomes more sane, some of these work-arounds can be removed.
$carousel-height:500px;

#main-carousel{
    max-height: $carousel-height;
}

#uikit-main-carousel{
    height: $carousel-height;
}

#slideshow-container{
    max-height:$carousel-height;
    height:$carousel-height;
    img {
        z-index: -1;
    }
}

.carousel-entry {
    z-index: 10;
    margin-top: 6rem;
    h2 {
        color: white;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }
    p {
        color: white;
        font-weight: 600;
        font-size: 44px;
    }
    a {
        color: white;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .carousel-entry {
        p {
            font-size: 32px;
        }
    }
}

#slider-controls{
    z-index: 10;
    top: -5rem;
    position: relative;
    margin-top: 0;
}

.white-area {
    padding-top:2rem;
    padding-bottom:2rem;
}
.gray-area {
    padding-top:3rem;
    padding-bottom:3rem;
    background-color: #eee;
}
.landing-entry {
    line-height: 48px;
    .inline-svg-icon{
        font-size:x-large;
    }
    h2 {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }
    p {
        font-weight: 600;
        font-size: 32px;
    }
    a {
        color: #666;
        font-weight: bold;
    }
}

.entry-image{
    width: 100%;
    img{
        max-width: 100%;
        max-height: 100%
    }
}

@import 'layouts';

// Site-wide
.content {
    margin: 20px 10%;
    max-width: 1200px;
}

.delphi-text-logo {
    background-color: white;
    color: #F03F3F !important;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 18px;
    padding: 5px 10px;
}

.uk-breadcrumb svg,
.uk-navbar svg {
    max-height: 18px;
}

.inline-svg-icon {
    display: inline-block;
    fill: currentColor;
    width: 1.2em;
    padding: 0 0.5em 0 0.25em;
}

.uk-icon-button > .inline-svg-icon {
    padding: 0;
}

// Navbar
.nav-active {
    border-bottom: 2px solid #F03F3F !important;
}
.uk-navbar-container {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.15);
}
.uk-navbar-left {
    margin: 40px 10% 0 10%;
}
.uk-navbar-nav>li {
    padding-left: 10px;
    padding-right: 20px;
}
.uk-navbar-dropdown-bottom-left {
    margin-left: -20px;
    margin-top: 3px;
}

.mobile-nav {
    height: 20px;
    padding: 23px;
    border-bottom: 1px solid #d2d2d2;
}
.uk-navbar-toggle {
    float:right;
    margin-top: -10px;
}
.dropdown-mobile {
    left: 0 !important;
    padding: 0;
    width: 100%;
}
.menu-element {
    border-top: 1px solid #d2d2d2;
    font-weight: 400;
    padding: 20px 0 20px 40px;
}
.menu-element.menu-parent {
    font-weight: 600;
}
.menu-element.menu-child {
    padding-left: 64px;
}

// Footer
.footer {
    background-color: #232735;
    color: white;
    font-size: 12px;
    padding: 50px 20% 20px 20%;
}
.footer .footer-header {
    font-weight: 700;
    text-transform: uppercase;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer-small {
    text-align: center;
    font-size: 14px;
}
.footer-small .footer-header {
    padding-top: 30px;
}
.footer-small div {
    padding-top: 10px;
}

#vizbox {
    margin-top: 5px !important;
}


.team-hero-image {
    width: 100%;
}
.team-member > img {
    border-radius: 5px;
}