// 1. Your custom variables and variable overwrites.
// $global-link-color: #DA7D02;
@import 'customize';

// 2. Import default variables and available mixins.
@import './node_modules/uikit/src/scss/variables-theme.scss';
@import './node_modules/uikit/src/scss/mixins-theme.scss';

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import './node_modules/uikit/src/scss/uikit-theme.scss';


@import 'custom';

// Site-wide
.content {
    margin: 20px 10%;
    max-width: 1200px;
}

.delphi-text-logo {
    background-color: white;
    color: #F03F3F !important;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 18px;
    padding: 5px 10px;
}

.uk-breadcrumb svg,
.uk-navbar svg {
    max-height: 18px;
}

.inline-svg-icon {
    display: inline-block;
    fill: currentColor;
    width: 1.2em;
    padding: 0 0.5em 0 0.25em;
}

.uk-icon-button > .inline-svg-icon {
    padding: 0;
}

// Navbar
.nav-active {
    border-bottom: 2px solid #F03F3F !important;
}
.uk-navbar-container {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.15);
}
.uk-navbar-left {
    margin: 40px 10% 0 10%;
}
.uk-navbar-nav>li {
    padding-left: 10px;
    padding-right: 20px;
}
.uk-navbar-dropdown-bottom-left {
    margin-left: -20px;
    margin-top: 3px;
}

.mobile-nav {
    height: 20px;
    padding: 23px;
    border-bottom: 1px solid #d2d2d2;
}
.uk-navbar-toggle {
    float:right;
    margin-top: -10px;
}
.dropdown-mobile {
    left: 0 !important;
    padding: 0;
    width: 100%;
}
.menu-element {
    border-top: 1px solid #d2d2d2;
    font-weight: 400;
    padding: 20px 0 20px 40px;
}
.menu-element.menu-parent {
    font-weight: 600;
}
.menu-element.menu-child {
    padding-left: 64px;
}

// Footer
.footer {
    background-color: #232735;
    color: white;
    font-size: 12px;
    padding: 50px 20% 20px 20%;
}
.footer .footer-header {
    font-weight: 700;
    text-transform: uppercase;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer-small {
    text-align: center;
    font-size: 14px;
}
.footer-small .footer-header {
    padding-top: 30px;
}
.footer-small div {
    padding-top: 10px;
}

#vizbox {
    margin-top: 5px !important;
}


.team-hero-image {
    width: 100%;
}
.team-member > img {
    border-radius: 5px;
}

.card-grid {
    
}

.card-grid-item {
    position: relative;
    border-radius: 8px;
    margin: 3em 0 0 1em;
    
    .uk-card-footer {
        border-top: none;
    }
}

.card-grid-item-img {
    object-fit: cover;
    width: 100%;
    height: 8em;
    display: block;
    border-radius: 8px 8px 0 0;
}

.card-grid-item-date {
    position: absolute;
    font-weight: 600;
    top: -2em;
    left: 0;
}

@media (min-width: $breakpoint-small) {
    .card-grid-item {
        display: flex;
        margin: 1em 8em;
    }

    .card-grid-item-img {
        width: 12.5em;
        height: unset;
        border-radius: 8px 0 0 8px;
    }

    .card-grid-item-date {
        top: 0;
        left: -8em;
    }
}

.arrow-link {
    display: flex;
    align-items: center;
    
    > .inline-svg-icon {
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #232735;
        width: 40px;
        height: 40px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
        
        > svg {
          width: 14px;
        }
    }
}