name: blog

on:
  push:
    paths: # run only when an Rmd file changes
      - "**.Rmd"
      - "environment.yml"
      - "dependencies.R"
      - ".github/workflows/blog.yaml"

jobs:
  blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 3
      - name: Cache Conda
        uses: actions/cache@v3.0.4
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda6-${{ hashFiles('environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda6-
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          activate-environment: www-main
          environment-file: environment.yml
          auto-activate-base: false
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      # - name: Conda info
      #   shell: bash -l {0}
      #   run: |
      #     conda info
      #     conda list
      - name: Install R dependencies
        shell: bash -l {0}
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          Rscript ./dependencies.R
      - name: Restore Blogdown Cache
        uses: actions/cache@v3.0.4
        with:
          path: |
            ./blogdown
          key: ${{ runner.os }}-blogdown2-${{ hashFiles('environment.yml') }}-${{ hashFiles('content/blog/**.Rmd') }}
          restore-keys: |
            ${{ runner.os }}-blogdown2-${{ hashFiles('environment.yml') }}-
            ${{ runner.os }}-blogdown2-
      - name: Build site
        shell: bash -l {0}
        run: |
          npm run build:blog

      - uses: actions/upload-artifact@v3
        with:
          name: blog
          path: |
            ./content/blog
            ./static/blog

      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/cache@v3.0.4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build

      - uses: actions/upload-artifact@v3
        with:
          name: website
          path: ./public
