on:
  push:
    paths: # run only when an Rmd file changes
     - '**.Rmd'

name: ci

# based on https://github.com/r-lib/actions/blob/master/examples/blogdown.yaml

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 3
      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: |
            /Users/runner/.conda/pkgs
          key: ${{ runner.os }}-conda4-${{ hashFiles('environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda4-
      - name: Configure Conda cache
        run: |
          echo -e "pkgs_dirs:\n  - /Users/runner/.conda/pkgs\n" > ~/.condarc
      - name: Conda setup
        uses: s-weigand/setup-conda@v1.0.5
        with:
          activate-conda: false
      - run: conda info
      - name: Conda environment creation
        run: |
          export DYLD_FALLBACK_LIBRARY_PATH=$(HOME)/lib:/usr/local/lib:/lib:/usr/lib
          conda env create -f environment.yml
      - name: Install R dependencies
        run: |
          source activate www-main
          Rscript ./dependencies.R
      - name: Restore Blogdown Cache
        uses: actions/cache@v2
        with:
          path: |
            ./blogdown
          key: ${{ runner.os }}-blogdown-${{ hashFiles('content/blog/**.Rmd') }}
          restore-keys: |
            ${{ runner.os }}-blogdown-
      - name: Build site
        run: |
          source activate www-main
          Rscript -e 'blogdown::build_site(run_hugo=FALSE, build_rmd=TRUE)'

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.78.0'
          extended: true

      - name: Build
        run: hugo --minify

      - uses: actions/upload-artifact@v2
        with:
          name: website
          path: ./public

      - name: Deploy Main
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./public

